[Desktop Entry]
Terminal=true
Name=md2pdf Client
Exec=md2pdf-client --file %f
Type=Application
Icon=${SNAP}/meta/gui/icon.svg
Encoding=UTF-8
Hidden=false
NoDisplay=false
Categories=Document;Converter;
MimeType=text/markdown;
